/*doc
---
title: Typography
name: 2-typography
category: Base CSS
---

Typography

*/

h1,
.heading1 {
  margin: 0 0 calc-target(20, $heading-1-size);
  text-transform: none;
  line-height: calc-target($heading-1-height, $heading-1-size);
  color: $heading-1-color;
  font-family: $secondary-font-stack;
  font-weight: normal;
  @include font-size($heading-1-size);
}

h2,
.heading2 {
  margin: 0 0 calc-target(20, $heading-2-size);
  text-transform: none;
  line-height: calc-target($heading-2-height, $heading-2-size);
  color: $heading-2-color;
  font-family: $secondary-font-stack;
  font-weight: normal;
  @include font-size($heading-2-size);
}

h3,
.heading3 {
  margin: 0 0 calc-target(10, $heading-3-size);
  text-transform: none;
  line-height: calc-target($heading-3-height, $heading-3-size);
  color: $heading-3-color;
  font-family: $secondary-font-stack;
  font-weight: normal;
  @include font-size($heading-3-size);
}

h4,
.heading4 {
  margin: 0 0 calc-target(10, $heading-4-size);
  text-transform: none;
  line-height: calc-target($heading-4-height, $heading-4-size);
  color: $heading-4-color;
  font-family: $primary-font-stack;
  font-weight: normal;
  @include font-size($heading-4-size);
}

h5,
.heading5 {
  margin: 0 0 calc-target(10, $heading-5-size);
  text-transform: none;
  line-height: calc-target($heading-5-height, $heading-5-size);
  color: $heading-5-color;
  font-family: $primary-font-stack;
  font-weight: normal;
  @include font-size($heading-5-size);
}

h6,
.heading6 {
  margin: 0 0 calc-target(10, $heading-6-size);
  text-transform: uppercase;
  line-height: calc-target($heading-6-height, $heading-6-size);
  color: $heading-6-color;
  font-family: $secondary-font-stack;
  font-weight: normal;
  @include font-size($heading-6-size);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
}

.hgroup {
  margin-bottom: 20px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  [class*='heading'] {
    margin: 0;
  }
}

p,
ul,
ol,
dl,
address {
  margin: 0 0 1.5em;
  padding: 0;
  @include font-size($base-font-size);
}

ul,
ol,
dd {
  margin-left: 1.5em;
}

li ul,
li ol {
  margin-bottom: 0;
}

li {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

pre {
  margin: 0 0 1.5em;
  background: $grey-lightest;
  padding: .5em;
  word-wrap: normal;
}

blockquote {
  display: block;
  margin: 0 0 20px;
  border-left: 3px solid $grey-black;
  padding-left: 10px;
  overflow: hidden;
  color: $grey-black;
  @include font-size(20);

  > :last-child {
    margin-bottom: 0;
  }
}

hr {
  margin: 0 0 1.5em;
}
