<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title><%= title %> | Skeletos Styleguide</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.8.3.js"></script>
    </head>
    <body>
        <header class="ss-page-header">
            <div class="wrapper">

                <h1 class="ss-logo"><a class="ss-logo" href="#" rel="home"><span>Skeletos</span></a></h1>

                <a class="ss-button ss-primary-nav__show-nav" href="#ss-primary-nav"><span>Show Menu</span></a>

                <nav id="ss-primary-nav" class="ss-primary-nav">
                    <ul class="ss-primary-nav__list">
                      <% @categories.each do |category, file_name| %>
                          <li class="ss-primary-nav__item"><a class="ss-primary-nav__link" href="<%= file_name %>"><%= category %></a></li>
                      <% end %>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="ss-page-content--has-sidebar">
            <div class="wrapper clearfix">
                <main class="ss-page-main" role="main">
